/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.mypace-responsive-image {
	display: flex;
	justify-content: center;
	padding: 20px;
	border: 1px dotted #f0c;
}

.mypace-responsive-image__pc,
.mypace-responsive-image__sp {
	padding: 20px;
}
